.counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;	
	gap: 30px;
	margin-top: 40px;
	padding-bottom: 0px;
}

.counter p {
	align-self: center;
	font-size: 22px;
	margin: 0;
	padding: 0;
}

.count {
	display: flex;
	justify-content: center;
	padding: 50px;
}


